<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>Filtri per selezionare il tipo di documento</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="client">Cliente</label> <br>
                    <p-dropdown id="client" optionLabel="name" [options]="clients"
                        [(ngModel)]="selectedClient" (onChange)="onClientChange($event)"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="documentType">Tipo Documento</label> <br>
                    <p-dropdown id="documentType" [options]="documentTypes"
                        [(ngModel)]="selectedDocumentType"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="imageBase64">
        <img [src]="imageBase64" alt="Fetched Image" />
    </div>



    <div class="col-12 md:col-12">
        <div class="card">
            <form [formGroup]="detailForm">
                <h5>Dettaglio utente</h5>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label htmlFor="name1">Nome</label>
                        <input pInputText id="name1" type="text" formControlName="name" placeholder="Mario" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="surname1">Cognome</label>
                        <input pInputText id="surname1" type="text" formControlName="surname" placeholder="Rossi" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="datacorrente1">Data corrente</label>
                        <input pInputText id="datacorrente1" type="date" formControlName="dataCorrente"
                            placeholder="YYYY-MM-DD" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="startDate1">Data Inizio</label>
                        <input pInputText id="startDate1" type="date" formControlName="startDate"
                            placeholder="YYYY-MM-DD" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="contractEndDate1">Data Fine Contratto</label>
                        <input pInputText id="contractEndDate1" type="date" formControlName="contractEndDate"
                            placeholder="YYYY-MM-DD" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="sector1">Settore</label>
                        <input pInputText id="sector1" type="text" formControlName="sector"
                            placeholder="EDILIZIA INDUSTRIA" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="level1">Livello</label>
                        <input pInputText id="level1" type="text" formControlName="level"
                            placeholder="1 livello del C.C.N.L. Edilizia" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="duties1">Mansioni</label>
                        <input pInputText id="duties1" type="text" formControlName="duties"
                            placeholder="MURATORE EDILE" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="workingHours1">Ore Lavoro Settimanali</label>
                        <input pInputText id="workingHours1" type="text" formControlName="workingHours"
                            placeholder="40" />
                    </div>
                </div>
                <div class="flex justify-content-center align-items-center gap-2">
                    <button pButton pRipple label="Crea documento docx" class="w-full p-3 text-xl"
                        (click)="generateUserDocx()" type="button"></button>
                </div>
            </form>
        </div>
    </div>
</div>