:host {
    display: block;
    margin: 1rem;

    .card {
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h5 {
        margin-bottom: 1rem;
    }

    .p-formgrid {
        margin-top: 1rem;

        .field {
            margin-bottom: 1rem;
        }

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }

        input,
        p-dropdown {
            width: 100%;
        }
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
            background-color: #007ad9;
            color: white;
            border: none;
            border-radius: 0.25rem;
            padding: 1rem;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: #005bb5;
            }
        }
    }
}

.assets-container {
    display: flex;
    .logo-container {
        img {
            width: 200px;
        }
    }

    .signature-container {
        img {
            width: 200px;
        }
    }
}

.tesserino-container {
    width: 450px;
    padding: 20px;
    border: 1px solid #000;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    .header {
        text-align: center;
        background-color: #ffcc99;
        padding: 10px;
        border-bottom: 1px solid #000;

        h1 {
            font-size: 18px;
            margin: 0;
        }

        p {
            margin: 5px 0;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #000;

        .foto-tessera {
            margin-right: 20px;

            img {
                width: 120px;
                height: 150px;
                border: 1px solid #000;
            }
        }

        .dati-personali {
            flex: 1;

            p {
                margin: 5px 0;
                display: flex;
                justify-content: space-between;

                .field {
                    flex: 1;
                    border-bottom: 1px dashed #000;
                    margin-left: 10px;
                }
            }
        }
    }

    .dati-azienda {
        padding: 10px 0;

        p {
            margin: 5px 0;
        }

        h2 {
            margin-bottom: 10px;
            font-size: 14px;
            color: #333;
        }
    }
}

.download-button {
    margin: 1rem;
    width: 200px;
}
