<div class="surface-ground">
    <div class="card">
        <div class="card-header">
            <img src="assets/layout/images/logo-dark.svg" alt="Sicurezza Full Logo" class="logo" />
        </div>

        <div class="card-body">
            <h4>Login</h4>
            <form [formGroup]="signInForm" #form="ngForm" (ngSubmit)="onSubmitSignIn()">
                <label for="fiscalCode1" class="form-label">Codice Fiscale</label>
                <input id="fiscalCode1" name="fiscalCode" formControlName="fiscalCode" [(ngModel)]="currentFiscalCode"
                    (ngModelChange)="onFiscalCodeChange($event)" type="text" placeholder="Inserisci codice fiscale" />

                <label for="password1" class="form-label">Password</label>
                <div class="password-toggle">
                    <input id="password1" name="password" type="{{ hidePassword ? 'password' : 'text' }}"
                        formControlName="password" [(ngModel)]="currentPassword" placeholder="Password" />
                    <i class="pi pi-eye" (click)="togglePasswordVisibility()"></i>
                </div>

                <small *ngIf="password.errors?.['minlength']" class="error-message">La password deve contenere almeno 6
                    caratteri.</small>

                <button type="submit" class="submit-button">Accedi</button>
            </form>

            <div class="assistance-wrapper">
                <p>
                    Hai bisogno di assistenza?
                    <a (click)="openWhatsAppChatOperator()">Apri chat</a>
                </p>
            </div>

            <div class="currentdate-wrapper">
                <p>{{ currentDate | date: "full" }}</p>
            </div>
        </div>
    </div>
</div>